<h1>List of Pictures</h1>

<ul>
	<% @list_of_pictures. each do |pic|%>
		<li>
			<%=image_tag(pic.source, :width => 200)%>
			<%= pic.caption%>
		</li>

		<%=link_to("Show",picture_url(pic.id)%>
		<%=link_to("Edit",edit_picture_url(pic.id)%>
		<%=link_to("Delete",picture_url(pic.id), :method => "delete")%>

	<%end%>
</ul>