<h1>List of Pictures</h1>

<ul>
	<% @list_of_pictures. each do |pic|%>
		<li>
			<%=image_tag(pic.source, :width => 200)%>
			<%= pic.caption%>
		</li>

		<%=link_to("Show","http://localhost:3000/picture_details/#{pic.id}")%>
		<%=link_to("Edit","http://localhost:3000/edit_picture_form/#{pic.id}")%>
		<%=link_to("Delete","http://localhost:3000/delete_picture")%>

	<%end%>
</ul>